[2018-07-13 05:24] parulagg27 opened #1 "Help regarding learning path"
**A community member asks anonymously:**

"Hey!
I have basic knowledge of C++ and Python and also of OOPS concepts. But I'm not good at data structures and algos, and really interested in development (web and blockchain). I don't have any programing background and I'm completely self taught programmer. My friends are already achieving  heights in this field via development  and I don't  want to ag

[2018-07-13 07:07] saranshkataria commented on #1
In my opinion, The best way to learn things is by doing. I am not that great at data structures and algorithms either. And once you enter the industry, you rarely use them. So don't worry about that or about being a slow learner. Everyone learns at their own pace and you are competing with yourself in the end.

Also, instead of focusing on the syntax of languages, focus on concepts and try and und

[2018-07-13 07:16] apoorvtomar2222 commented on #1
And to add.

What my personal experience was that , at the starting it is always difficult, but as you start learning more, it becomes easy.

And its absolutely correct , once you are through with the basic, you yourself will start exploring the deeper concepts.

For reference. Even  I started exploring different library now about How they did something. So that I can implement that in my solution

[2018-07-13 08:34] jatin69 commented on #1
And to add.

There's only one way to compete with someone who's smarter and faster.

[2018-07-13 08:45] IamManchanda commented on #1
First and Foremost ... Working in a real project instead of toy project helps a lot in improving yourself in Data Structures and Algorithms ... Learning data structures is not a thing that can come in one day ... It needs some project where you can implement the learning and have a taste of it by your own.

Apart from that
One thing I can surely say knowing those built in functions/methods of the

[2018-07-13 08:54] IamManchanda commented on #1
Also If you are learning JavaScript ... Knowing those built-in functions can be a bit daunting as a beginner I am supposing ...
What would I would recommend is fetch this link => https://www.google.co.in/search?q=prototype+mdn
Also apart from that ... using utility library like [lodash](https://lodash.com/docs/4.17.10) or [Ramda](https://ramdajs.com/docs/) would be a very very good option

I repea

[2018-07-13 09:46] vaibhavsingh97 commented on #1
I was once in the situation there and what I was lacking is that I was not giving a start, instead, I was searching for tutorials, reading blogs and seeing everybody succeeding in their goal. I also want to be there, but don't know what to do so I just subscribed to one course, it was free as I found it on. internet, and tried to learn and I learned quickly, in your case don't give up if you are a

[2018-07-16 08:26] #1 closed, assigned to nobody

[2018-07-18 16:32] learner213 opened #2 "Help regrading efficient ways to remember so many programming concepts while exploring new tech simultaneously"
Hey!
I need a small help from all the great developers out there!
I started exploring this field of programming and development just 2-3 months back and I'm already struggling with **remembering all those concepts**. I'm completely autodidact and learnt till now referring to free online courses available. I never saw any of my friends or other peer developers in my contact taking down notes while

[2018-07-18 18:25] darthgera123 commented on #2
i think the best way is to do projects and read blogs. Personally i dont remember half of advanced python syntax but i keep checking up as and when required and projects are the best way to remember them

[2018-07-18 18:38] gaurav-gogia commented on #2
Hi there,

First of all, give yourself a pat on the back for your perseverance in spite of these initial challenges. They are usually the most troublesome ones while trying out something new.

As for your query. I can respond with my approach. Do NOT try to remember them. The concepts that you are learning, they are supposed to make sense as you try to develop something. So, while you're learning

[2018-07-18 18:46] vabhishek-me commented on #2
In a simple sentence: Go with the flow.

You don't know but visiting something again and again actually helps you grasp the concept in your subconscious memory....... It will help in the long run.

[2018-07-18 18:47] sidvishnoi commented on #2
If you're learning, you'll forget. Don't learn, but understand. Take your time. No hurries.

Some general thoughts:
1. You don't have to remember things. You'll remember things with experience. And you can always read again if you forget.
2. It's okay to start slow.
3. Do not try to learn everything together. Give yourself time.
4. Write down codes, not notes. Don't write code on paper (unless pra

[2018-07-18 19:01] vabhishek-me opened #3 "Building a Form Service"
How would you tackle the problem where a website/platform needs 10-20 new forms everyday for it's users?

One option is to use google forms, but that's a third-party service and not much customization is provided.
I need something that non-professionals can easily use and build forms. Something like a GUI which let's you build form and then the form is saved as JSON and then can be called on the w

[2018-07-18 19:08] harshitjuneja commented on #2
As the previous comments say, all those commands, shortcuts and the language syntax develop overtime with muscle memory when you apply the same thing in one way or the other.

What you should care about: The constructs, design patterns, ideologies and their implementation.

You might want to go through a three-step process, that I have been following.

Step 1: Question
Question how the particular

[2018-07-19 05:20] saranshkataria commented on #3
There are a lot of options available if customization is the only thing you are looking for. Surveymonkey, typeform etc. Did not get the form is saved as JSON part of it. Can you elaborate?

[2018-07-19 05:23] saranshkataria commented on #2
Everyone has pretty much given the advice that I would have written. One thing I would add is that understand the crux of why something is the way it is. All you need to know is why something fundamentally exists and when it is useful. You can look up the details later and modify according to need. The syntax does not matter, what matters is understanding the principles and the reasoning why it wo

[2018-07-19 15:52] parulagg27 commented on #2
Hey @learner213, I think good no. of satisfactory answers have been given and hope they helped you out. If you are still left with any doubt, feel free to ask, else please close this issue down to help us better track all the issues.

[2018-07-19 15:59] parulagg27 opened #4 "Help regarding interview preparation"
A community member asked anonymously:

"Hello!
So, I got shortlisted for Software Development Intern role in a big well known company and have my video conferencing Technical interview round next week. But I have no clue how I'll be able to crack it. It's been a long time I've not been in touch of DS and Algos as I got shifted more towards development side. I remember, I last studied them for my c

[2018-07-19 18:16] learner213 commented on #2
Sure @parulagg27! All my queries were answered very well. Thank you everyone who helped me out by answering here. Thanks to fb DevC community for starting this initiative. :blush:

[2018-07-19 18:16] #2 closed, assigned to nobody

[2018-07-20 06:37] saranshkataria commented on #4
The answer to this will vary according to the organization you are applying for. Instead of reading everything, check online what all do they usually ask in their interviews and plan accordingly. Geeks for geeks gives a good idea about the major organizations and you can get some questions from there too. Get the basics right instead of trying to refresh everything since if your concepts would be

[2018-07-20 08:41] vabhishek-me commented on #3
So the brief use case is this:

I can use Google Form or Type form but we all know there's a limitation on how much hits you can make (typeform only provides 100res/m).....

I want to build something that enterprise applications can integrate into their website......
So, this is the workaround I found:
1. Create a GUI which lets you create forms like Google form does.
2. When the user hits save, s

[2018-07-20 08:56] saranshkataria commented on #3
The reason typeform/Google don't support more than 100 res/m is that that would be heavy server traffic and no one would do that for free.

But if you are going to cross that limit then you need a lot of infra setup for it

[2018-07-20 08:59] vabhishek-me commented on #3
Can you recommend me some tools/libs/best practices/anything which will help me build a minimal form service (no file uploads for now).....

I'll be using lambda, so traffic and costing is no problem.... (1M/0.5$)......

[2018-07-20 18:50] learner213 opened #5 "Blockchain Pre-requisites and learning path"
Hi! I'm here again with my doubt :p

I have good knowledge of Python, C++, HTML, CSS. But still not that good at data structures although( P.S: I'm just a fresher). After hailing through all available tech fields,  I'm most interested in exploring blockchain technology and wants to build a project on it.
Are their any pre-requisites for the same? Do I need to know any other programming/ scripting

[2018-07-21 04:52] saranshkataria commented on #5
Added a resource for cryptocurrency in that repo. And it makes more sense to open this issue there if you want resources instead of here?

[2018-07-21 05:02] saranshkataria commented on #3
For tools/libs/best practices : There's a ton of things that you need to look into. Can't list down all software architecture principles, good practices in an issue here since they are context specific too.

[2018-07-21 05:59] vabhishek-me commented on #3
Alright..... Let's keep this issue open for a week or so..... let's see if anyone gives more insights....

[2018-07-22 09:25] gaurav-gogia commented on #5
Here are some of the things that I believe are important for BlockChain:
1. Linked Lists
2. Hashing Algorithms
3. Merkle Tree
4. Types of BlochChains: Private, Consortium, Public
5. BlockChain & CryptoCurrency (difference)
6. Proof of Stake/ Proof of Work & other methods of transaction validation.

There are more concepts like double spending but this should be more than enough to get you started.

[2018-07-22 10:00] saranshkataria commented on #5
@DesmondANIMUS add it in the community resources repo instead?

[2018-07-22 10:04] gaurav-gogia commented on #5
@saranshkataria, I would but I'm not sure if they'll help or how long they'll be available for free. I wouldn't want to add bad resources.

[2018-07-22 16:24] gaurav-gogia opened #6 "Help with Async Actions"
Hi all!

I have an async action and I wish to handle loading.

The async action is a simple post API call. I wish to start loading when the call is started and end loading when the call ends. [Here is my code](https://gist.github.com/DesmondANIMUS/854f2e896a78f6396433fc4b1b2db727). I am able to dispatch the event and take care of API part but I'm not able to fix this loading issue. Someone told me

[2018-07-22 16:58] manishekaneja commented on #6
I am assuming that you are able to handle the API call and your actual problem is related to loading status only.

Well, I would have preferred to go for a callback function instead of using async/await. So that, I can change the state of the loader again using that callback function in the API call.

But Since you are using async/await, Have you tried calling the "toggleLoading()" again after the

[2018-07-23 02:05] harshitjuneja commented on #6
@DesmondANIMUS Make a post to the facebook group. Let's help you out there. Make sure you close this issue.

[2018-07-23 19:44] gaurav-gogia commented on #6
Sure

[2018-07-23 19:44] #6 closed, assigned to nobody

[2018-07-24 16:06] learner213 commented on #5
Thanks a lot @DesmondANIMUS for such detailed insights and course links.  :blush:
Besides, @saranshkataria I'll take care of this next time, but since I also wanted to know the pre-requisites, i.e., concepts/ languages I should know well before starting, I thought it's better to post it here. Closing this issue now.

[2018-07-24 16:41] #5 closed, assigned to nobody

[2018-07-25 16:02] parulagg27 opened #7 "Getting started with Open Source"
**A community member asked anonymously:**

"How to begin open source contribution"

[2018-07-25 16:59] parulagg27 commented on #7
First and foremost, you should be comfortable with using git and github. For that I believe, going through these two links thoroughly would suffice:
1. [Intro to git & github ](https://medium.com/@megha_code/introduction-to-git-and-github-3a3f9b7a7e39) - It's a really good blog written by @codeb1ooded
2. [try git tutorial](https://try.github.io/) - for detailed insights

Then, you should explore a

[2018-07-26 05:32] saranshkataria commented on #7
Also look for the "good first issue" and "beginner" level tags on issues on Github. Maintainers usually tag those issues to help first-timers! Remember, even a document fix can be a good first issue. All it takes is getting started and then keep getting deeper.

[2018-07-27 12:05] parulagg27 commented on #4
Great. Closing this issue now!

[2018-07-27 12:05] #4 closed, assigned to nobody

[2018-07-28 12:51] parulagg27 commented on #3
Hi @vabhishek-me, were you able to find answers/ anyother workaround for your query?

[2018-07-28 12:54] parulagg27 opened #8 "Guidance for GSOC"
A community member asks anonymously:

"I am beginner to gsoc 2019. Help me proceed."

[2018-07-28 13:09] vabhishek-me commented on #3
Not Yet :(

Let's keep this issue open...... Maybe somebody comes up with a workaround.

There should be some questions in the issue which people can come and answer.

[2018-07-28 14:30] saranshkataria commented on #3
@vabhishek-me I don't think anyone is going to give you everything there is on enterprise architecture scaling and principles in a GitHub issue. You have to do the hard work for that.

[2018-07-28 16:20] parulagg27 commented on #8
cc: @geekanamika @vaibhavsingh97 and other GSOCers in the community :P

[2018-07-28 16:52] vaibhavsingh97 commented on #8
I am not advertising but I have written already extensive answer : https://www.quora.com/How-do-I-prepare-for-the-Google-Summer-of-Code-GSoC/answer/Vaibhav-Singh-182?share=50900702&srid=zfNa

Also, not only me all also other gsocers written their blog to get into the journey of open source and participate in competition like GSOC 😀. If you are reading my answer than please do Google, do research b

[2018-07-29 11:45] vabhishek-me commented on #3
Alright! Closing the issue. Thanks for the help.

[2018-07-29 11:45] #3 closed, assigned to nobody

[2018-07-30 06:13] IamManchanda commented on #7
There is a free *video learning* course by [udacity](https://in.udacity.com/course/how-to-use-git-and-github--ud775-india) too.

[2018-07-31 12:49] parulagg27 commented on #7
Alright, good to close this issue now. :)

[2018-07-31 12:49] #7 closed, assigned to nobody

[2018-07-31 13:10] parulagg27 commented on #8
That's literally a very comprehensive answer @vaibhavsingh97, with detailed insights & explanations. Definitely covering almost all the doubts every beginner will ever encounter. :)
Closing this issue now.

[2018-07-31 13:10] #8 closed, assigned to nobody

[2018-08-10 18:01] parulagg27 opened #9 "Cyber Forensics / Security - Career Advice"
**A community member asks anonymously:**

" I'm trying to build my career in Cyber Forensics/Security either as an investigator/architect. I've joined Gujarat Forensic Sciences University for MSc but I'm not really sure what else I can try.

I understand the importance of open source projects related to security(hopefully will be able to contribute in one some day) and internships. If someone has

[2018-08-11 06:23] saranshkataria commented on #9
@shubhamoy can shed some light on this I think?

[2018-08-12 19:30] shubhamoy commented on #9
Hi,

The security domain is pretty huge, one needs to create a balance between their common sense and in-depth knowledge. I would request you to figure out your zeal; the area where you're able to find your flair.

Try to explore with the domain knowledge you have and follow this amazing website of Adrian Crenshaw([www.irongeek.com](http://www.irongeek.com)). Also, you can refer to Security Tube(t

[2018-08-12 19:38] shubhamoy commented on #5
@learner213

There are two aspects of getting indulged with blockchain, first being making use of the available resources, like, you can quickly spin up a blockchain project using ethereum, solidity, and the web3 library(check truffle).

The second option is a bit tricky where you invest time in getting through with the concept of distributed systems, Byzantine generals' problem, Byzantine fault t

[2018-08-15 18:37] parulagg27 commented on #9
IMO, question has been satisfactorily answered. Closing this issue now. :)

[2018-08-15 18:37] #9 closed, assigned to nobody

[2018-08-19 07:27] parulagg27 opened #10 "Career Advice - Dev job vs own business"
**A community member asks anonymously:**

" Its about a career advice. I have a small business where we teach students to learn science. But I am confused, that should I do a developer Job or be incharge of my business.
I cannot do both as, leaving my business at this time means killing it. I have this worry that I might not be able to earn that much, whereas my friends are getting good packages I

[2018-08-19 07:31] parulagg27 opened #11 "Career Advice - Getting an Internship"
**A community member asks anonymously:**

"How to prepare and get summer internship 2019 at good startups like Paytm,etc? i'll be graduating in 202) . i'm interested in JS and blockchain. "

[2018-08-19 07:32] parulagg27 opened #12 "Putting a progress bar on a website while uploading docs"
**A community member asks anonymously:**

" I am using angular 1.5 for my project and has a bootstrap datetime, when I am selecting a date it is not getting close.
And second I need to put a progress bar while uploading docs, how can I achieve that "

[2018-08-19 08:14] tannishk commented on #11
Whats your college internships unfortunately depends a lot on it. Try to join @codingninjas or @codingelements . Do open source contribution . Do some projects .

After all these try for GSOC or small startups if you are not from Tier 1 college .
Post these steps you are good to go

[2018-08-19 08:37] shubhamoy commented on #10
Peace of mind is essentially what matters at the end of our day and if you've it then you can always make money because there isn't any relation between your peace of mind and your bank balance. Every decision has its trade off.

[2018-08-19 08:41] parulagg27 commented on #11
Hi @tannishk. Thank you for your answer.
But, one thing I **must** clarify, these questions were aksed by other members from group via that form link. And I'm only helping out in moderting by opening issues here to keep them anonymous. So, better would be, if you keep your answer generalised as per question without referring to me. Thanks :)

[2018-08-19 09:02] vigzmv commented on #10
One more thing to add up to the above answer.
You have a lot of time. There's no rush. You will have a lot of time to do everything you want. Life isn't going to end at age 30, 40 or even 50.

[2018-08-19 10:28] aakashrstg00 commented on #12
Try using AngularJS Material the next time you have any feature requirement in an angularJs project.
For now, did you make a directive for the datepicker component or are you using it directly?

[2018-08-19 17:50] gargankit90 commented on #11
I would say do some projects in areas where you want internship.
Prepare for internship interviews, Hackerrank is a good site to begin with and then try leetcode.com

[2018-08-20 05:15] atul9911 commented on #10
Right now i am having 4 paths, Please help me to choose one
1) I am a developer in India's largest wallet company and earning enough to be stable
2) I am having really good devops and architectural knowledge and one of my friend wants to start a company with me where we will be providing managed services to other companies
3) Block Chain
4) Prepare for interview
I am stuck up very badly and don't

[2018-08-21 16:50] parulagg27 opened #13 "Improving performance of a website based on MongoDB & Set up on MongoDB Atlas"
**A community member asks anonymously:**

" I along with my seniors had set up Mongo Atlas for our MongoDB. Reaction Commerce, an e-commerce tool which generally uses MongoDB for data, was hitting Atlas using some credentials put into the config file.

Things were set up and running well. Users were able to sail through the website. But, as soon as the users started increasing the performance of t

[2018-08-26 04:47] parulagg27 opened #14 "Guidance for Studying Abroad"
**A community member asks anonymously:**

" Currently I'm in 3rd year. I  can't figure out which option should I opt right now after my btech . I can do further studies But the primary issue is to pay fees for higher education as its difficult for my parents to afford that much expensive tuition fees of my btech. That's why , I'm skipping the option of further studies just after the btech. I m thi

[2018-08-26 04:55] parulagg27 opened #15 "Succeeding as a Frontend Developer"
**A community member asks anonymously:**

" I'm doing B.tech in computer science and its my 2nd year now. I have started Frontend development in my first year and learnt a lot of things including the ReactJS framework. But many times I hear from my friends that anyone can do WebD or there is no future of webD, even I can't focus on my competitive coding skills also. results I also loose my motivat

[2018-08-26 05:27] parulagg27 commented on #15
I think @aakashrstg00 @manishekaneja @IamManchanda can help?

[2018-08-26 07:11] shubhamoy commented on #15
The beauty of frontend is the design aspect(UI and UX). Since you're undergoing your major in computer science, so you'd get sufficient exposure to programming. The future of design has to offer endless possibilities. You can surely refer to some amazing books on design, my personal favorite is https://www.amazon.in/Universal-Principles-Design-Revised-Updated/dp/1592535879.

[2018-08-26 07:15] shubhamoy commented on #14
Before going for further education, you should always figure out your passion. After that, you would be in a better position to answer your dilemma. Life is always a bag of mixed feelings. So just try figuring out your passion and improving your skillsets.

Finally, you can refer to studyabroad.shiksha.com which does have a lot to offer. Even they do offer free consultancy for popular study destin

[2018-08-26 08:04] aakashrstg00 commented on #15
Thanks, @parulagg27 for the mention.
Saying that there is no future in Web Dev is simply wrong and there is a high chance that the person saying this has not even tried to look deep into it. and yes when they say that anyone can do Web Dev, they actually mean that the initial learning is comparatively easier compared to other fields like Android etc, but if you dive deep into it, it has its own co

[2018-08-26 08:48] parulagg27 commented on #15
Also, there is this excellent [resource](https://medium.com/tech-tajawal/modern-frontend-developer-in-2018-4c2072fa2b9c), describing the roadmap for modern frontend devs, specially meant for those who are self taught. Definitely worth referring to down the path!  :)

[2018-08-26 10:26] learner213 commented on #14
I too had a similar query! Thank you whosoever asked it :blush:
Would just like to add one more question. @shubhamoy sir, I'm also pursuing b.tech, and I'm able to manage time between my college days and doing coding and exploring tech field regularly and currently in 2nd year. But eventually start working for a third domain as well would become hectic. What's the right time to start preparing for

[2018-08-26 14:38] parulagg27 commented on #11
@codeb1ooded, would you like to add something?

[2018-08-26 14:49] parulagg27 commented on #13
@poush I think, you can help out here?

[2018-08-26 15:01] saranshkataria commented on #12
We will need the code or something to tell about why the datepicker is not closing. For the progress bar, there are multiple ways of achieving it, html5 also added an inbuilt one. So some more specifics would be required for that as well

[2018-08-26 15:02] saranshkataria commented on #10
One general piece of advice: Don't follow the hype train. Figure out what interests you the most and follow that to be happier in the longer run. Think long term instead of short-term goals

[2018-08-26 15:03] saranshkataria commented on #15
All the resources (if relevant) should be added in the community resources repo as well please!

[2018-08-26 15:37] shubhamoy commented on #14
Impact of your work like the recognition it garners does make a difference. Our education system hasn't been updated for years, as a result, we tend to lack on various grounds. So what you might try is to evaluate yourself by any online platform and then start working parallelly in strengthening your foundational knowledge. GRE score is only a single metric. Foreign universities/countries do have

[2018-08-27 13:56] codeb1ooded commented on #11
As you have already mentioned your interest, I would advise you to gain some expertise on them by reading blogs about them, doing some projects and also, contributing to related open-source projects.
If you are considering companies like Paytm, then make sure you have strong data structures and basics.

[2018-08-28 17:09] parulagg27 commented on #11
Great! IMO, We've got some satisfactory answers. Closing this issue now. :)

[2018-08-28 17:09] #11 closed, assigned to nobody

[2018-08-28 17:11] parulagg27 commented on #10
IMO, it's good to close this issue now.

[2018-08-28 17:11] #10 closed, assigned to nobody

[2018-09-01 18:29] parulagg27 opened #16 "Where to submit Fb's non-security bugs apart from Bug bounty page?"
**A community member asks anonymously:**

" Where can we submit Facebook's non-security Bugs , as the Bug Bounty page is accepting non-security Bug but they are not considering it for the Bounty or further process."

[2018-09-07 15:33] aashutoshrathi opened #17 "Django + React/Vue"
I need resources for integration of Django with Front-end framework.
Also, some advice would be helpful. I have experience with Django.

[2018-09-09 16:29] parulagg27 opened #18 "Topics & Projects to be worked upon - to apply for tech companies & understand real life scenarios"
**A community member asks anonymously:**

" I left a non tech job to learn and start career in web dev(full stack JS). I have been since then following courses and building stuff while learning. I also joined a startup as intern but the platform and level they have worked on seems far from what I have learnt so far. (e.g:Strapi, elasticsearch,integrating third party portals etc). How do I prepare

[2018-09-09 16:35] parulagg27 commented on #15
IMO, it's good to close this issue now. :)

[2018-09-09 16:35] #15 closed, assigned to nobody

[2018-09-09 16:44] parulagg27 commented on #12
Alright! I think it's better to close this issue now, since it's been a long time &  I didn't get any response, regarding more details, from the person who asked this question.

[2018-09-09 16:44] #12 closed, assigned to nobody

[2018-09-14 05:01] saranshkataria commented on #17
@aashutoshrathi refer to the resources here https://github.com/facebook-developer-circle-delhi/Community-Curated-Resources
Also, for any other resources related help, it would be better to open an issue in that repo. Closing this out.

[2018-09-14 05:01] #17 closed, assigned to nobody

[2018-09-14 05:03] saranshkataria commented on #16
I don't think there is a bounty program for non-security bugs. Why would they have one?

[2018-09-14 18:27] gaurav-gogia commented on #13
@shreybatra maybe you can shed some light here?

[2018-09-14 18:30] gaurav-gogia commented on #18
@shubhamoy, could use your ideas here :)

[2018-09-14 18:35] parulagg27 opened #19 "Help regarding learning path"
**A community member asks anonymously:**

"What should I do now that I have completed an internship in my summer at a reputed company? I want to pursue some research in deep learning but many places take people with higher percentage. I also think of stopping coding for a while so that I can concentrate on my studies. I am also preparing for GRE. Any suggestions on what can and should I do? "

[2018-09-15 04:32] shreybatra commented on #13
@DesmondANIMUS yeah i'll try. See the main reason your site got down was because you were opening too many connections. Understand it like this -

When you were directly hitting Atlas, each time you were creating a new connection with the server. This meant you registered a new client and Mongo had to process another person/client for data consistency among all it's clients. Some what like keeping

[2018-09-19 10:42] parulagg27 opened #20 "Leave current job & explore Web dev?"
**A community member asks anonymously:**

" Hi All,
I am working in US healthcare industry as a Quality Auditor but my interest is in Web development.
I was thinking from a long time to leave the job and get prepared for the Web Developer profile as I have completed my MCA .
I am not getting much time to learn and study  web development with my current job.
So I am thinking to leave the job but I

[2018-09-20 10:31] adityak2920 opened #21 "Projects on deep learning and Computer Vision"
currently I am learning and exploring computer visison. I just have a simple question from where I can find some projects for internships on computer vision and also besides internship from where I can find projects on deep learning and computer Vision

[2018-09-20 10:57] flaredragon commented on #21
Hey
The best place to find internships at computer vision startups I would say is angel.co
Apart from that you can take ideas for projects from CS231's project page of Stanford University.There are some great projects they are working on!

[2018-09-20 15:06] shubhamoy commented on #20
The web has evolved from the simple notion of a web developer to the role of frontend and backend developer. Now the frontend does have UI, UX, engineering roles. Same goes for the backend which has its own roles.

I am assuming that your role as a Quality Auditor must have given you a first-hand experience of ensuring things are as per the rulebook. So my suggestion is to use your existing knowle

[2018-09-20 15:10] shubhamoy commented on #19
Pursue your learnings and try to interact with fellow developers on SO and Github. Try contributing to existing projects on Github to evaluate your level of learning and build contact. Also, see if you can build a library/project and host it on Github.

If you believe in your skills and they're at par then don't worry about your marks.

[2018-09-20 15:17] shubhamoy commented on #18
First figure out your calling, are you a 9-to-5 guy/gal or a hustler looking for challenges. Tech companies essentially evaluate your problem-solving mindset and not only what all technologies you've worked upon.

Simply put as you progress in your career the tech stack will always change from project-to-project and company-to-company. You should really focus on getting your basics strong(Operatin

[2018-09-24 13:08] parulagg27 opened #22 "Resolving trailing dot issue in website url"
**A community member asks anonymously:**

" How to resolve the trailling dot issue on website url, and what will be the best technique or method to check that your website is vulnerable or not ."

[2018-09-24 13:11] parulagg27 commented on #13
Great explanation @shreybatra!  Closing this issue now.

[2018-09-24 13:11] #13 closed, assigned to nobody

[2018-09-28 14:10] #21 closed, assigned to nobody

[2018-09-30 14:07] parulagg27 opened #23 "Go vs Rust for system level programming?"
**A community member asks anonymously:**

" Go vs Rust for system level programming? By that, I mean Forensic applications like forensic imaging, file carving etc..

What would make my life a little easier in terms of:
1. Tuning for performance
2. Ease of use/code (for this specific use case)
3. Community/Tutorial

This area is new for me and I've only done Web Dev in go prior to this.

Thanks ^.^

[2018-09-30 14:12] parulagg27 commented on #14
Great! Closing this issue now. :)

[2018-09-30 14:12] #14 closed, assigned to nobody

[2018-09-30 14:13] parulagg27 commented on #16
IMO, it's good to close this issue now!

[2018-09-30 14:13] #16 closed, assigned to nobody

[2018-09-30 14:16] parulagg27 commented on #18
Great answer @shubhamoy :)
Closing this issue now.

[2018-09-30 14:16] #18 closed, assigned to nobody

[2018-09-30 15:07] saranshkataria commented on #22
Need more context on this. Trailing dots are by default a unix style convention and more can be read about it here: http://www.dns-sd.org/trailingdotsindomainnames.html
Need more context about how this is a vulnerability

[2018-10-17 15:39] shubhamoy commented on #23
I've been programming for a good amount of time and get into situations where I've to make a choice. First, the driving factor is the community support and maturity level of the language. I could share one approach; start solving one simple forensic application with one language(say Go) and then solve it using Rust. Finally, compare the performance and ease.

[2018-10-17 16:05] parulagg27 opened #24 "Skills and approach required for research work in bioinformatics"
**A community member asks anonymously:**

" I learnt some industrial experience by doing an internship. I wish to go for research work in bioinformatics and wish to get a job in same but I have no ideas what all skills should I learn, whom to approach. "

[2018-10-17 16:17] saranshkataria commented on #23
Totally agreed with what @shubhamoy  has suggested here. It makes more sense to try something in both the languages, read a small comparison of what differentiates both of them, figure out what features of those are critical for your needs and then make an informed decision on the basis of those. Syntax can be learnt quickly once you know the concepts and why you are choosing one over the other.

[2018-10-25 18:35] prithaupadhyay commented on #24
Bioinformatics is a broad field where we aim to extract some knowledge from biological data. Now, the research work will depend upon your areas of interest. There can be computational research in bioinformatics using Image Processing, Computer Vision, Deep Learning and in many such areas. As of now, you can begin with reading about some existing research papers. That will give you an idea about wh

[2018-10-25 18:46] evoxtorm commented on #24
Yeah very good question. I was also finding this answer during 3rd year of Engineering in Biotechnology while I'm also one of the guy who wants to further want to research in this field. To find this answer I've started to work under a scientist in government research institute but I find out they are lagging behind the technology and there work is not like a developer thing they just use tools to

[2018-10-27 07:25] parulagg27 commented on #24
Thank you for your answers @prithaupadhyay @evoxtorm :)
Closing this issue now!

[2018-10-27 07:25] #24 closed, assigned to nobody

[2018-10-27 07:32] parulagg27 commented on #23
Great, thanks! Closing this issue now.

[2018-10-27 07:32] #23 closed, assigned to nobody

[2018-10-27 07:37] parulagg27 commented on #20
Alright! Closing this issue now.

[2018-10-27 07:37] #20 closed, assigned to nobody

[2018-10-27 07:40] parulagg27 commented on #19
Great, thanks! Closing this issue now.

[2018-10-27 07:40] #19 closed, assigned to nobody

[2018-10-27 07:54] parulagg27 commented on #22
Also, if you are interested in exploring more about web security and vulnerabilities, do checkout the tutorials here: https://www.hacker101.com/
Closing this issue now!

[2018-10-27 07:54] #22 closed, assigned to nobody

[2018-11-02 13:34] parulagg27 opened #25 "Networking guidance"
**A community member asks anonymously:**

" I am 2018 B.Tech passout. I participated in GSoC with Redhat and also now GCI mentor. Now working as Java developer in not a well known but a product based company .I like Competitive coding, used to do in 3 rd year. I belong to local engineering's College so have nearly null people to learn and get advice from. How can I develop my network? And please s

[2018-11-15 10:30] learner213 commented on #25
I think, if you've done GSOC and you are also a GCI mentor, you already have such a great network of people globally( specially from India, hehe :P) to whom you can look up to while facing an issue with your code. No one will be going to spoonfeed you (sorry for that word if it sounds impolite) unless you'll make an effort on your own.
But, if you want to have more personalized network, I think at

[2018-11-16 14:17] learner213 commented on #25
Hey! Can someone please shed more light on how you all keep yourself updated with the latest happenings in the tech industry. I too have a similar issue. Any good websites/ blogposts worth that I can follow for this purpose?
@saranshkataria @harshitjuneja @shubhamoy

[2018-11-17 08:20] shubhamoy commented on #25
Hey!
Building your network simply means creating an impact which can only be achieved by either leading from the front (for instance; share your experiences of GSoC) or follow various active communities(participate in conversations online/offline).

As you're part of a product based company, so definitely you can explore the areas of design thinking, design sprint, product management, etc which wo

[2018-12-08 18:45] parulagg27 opened #26 "Research work on biology related topics with CS"
**A community member asks anonymously:**

" I am an undergraduate computer science student and I wish to research on some biology related topics with computer science. Though they are many tools, method, resources available online, I am not able to find something concrete that guides me to what kind of work I wish to do. Can anyone guide me about the same.
Be it suggestions regarding the kind of a

[2018-12-08 18:50] parulagg27 opened #27 "Qualifying for ACM-ICPC"
**A community member asks anonymously:**

" How to qualify ACM-ICPC? What should be the approach or the topics one should really focus upon while preparing for? It would be helpful if someone can share their experience too. "

[2018-12-08 19:03] parulagg27 opened #28 "Guidance for becoming GCI mentor"
**A community member asks anonymously:**

" How to become a GCI mentor ? Do we need to be an active contributor for that organization or do they interview the applicants."

[2018-12-08 19:17] parulagg27 opened #29 "Preparing for placements and Interviews"
**A community member asks anonymously:**

"I want to go for placements in my final year and crack interviews of good companies. As far as I could think of, I need to be good at competitive programming for this. Am I on the right path or are their some specific areas I should focus upon? How should I begin with the preparations for the same.

Apart from competitive, what are the other skill sets I

[2018-12-09 12:01] raghavpuri31 commented on #28
Being Org Administrator and Mentor myself at AOSSIE, one of the participating organizations in GCI-18, I can say that it's highly important for one to regularly participate in the org's particular project that one wants to mentor. This ensures the organization that the person has deep understanding of the codebase of that project and will be able to mentor it. However, in some of the cases it is a

[2018-12-17 16:34] harshitjuneja commented on #26
The information that you have provided doesn't help much. Maybe what your research objectives are would help. If you aren't very clear with that, I suggest reading reputed journals and trying to reach at the specified result.

As an undergrad student, I suggest you work out with one your professors whose research you might be interested in. A more detailed topic around your research interest might

[2018-12-17 17:14] evoxtorm commented on #26
Hey There,
I'm a biotech engineering student so I'm eligible for answering this question. In the second year of my engineering, I feel the same what topic should I choose and how I should proceed further.
As you've not given much information so I will assume most of the things. I will explain this in a few points.
0. Learn any scripting language like python Perl etc. It will help you in most of th

[2018-12-21 18:05] parulagg27 commented on #26
Thanks for your answers @harshitjuneja @evoxtorm!
Closing this issue now.

[2018-12-21 18:05] #26 closed, assigned to nobody

[2018-12-21 18:07] parulagg27 commented on #25
Great! Closing this issue now.

[2018-12-21 18:07] #25 closed, assigned to nobody

[2019-01-06 20:53] parulagg27 commented on #29
Hey, do check out [this thread](https://www.facebook.com/groups/DevCDelhiNCR/permalink/719186568415105/) in the group. Hopefully, that answers many of your queries.

[2019-01-06 20:54] parulagg27 commented on #29
Also, I think @shubhamoy @saranshkataria @codeb1ooded can shed some more light here.

[2019-01-06 20:59] parulagg27 commented on #28
Thanks for your insights, @raghavpuri31.
Also, @vaibhavsingh97 @swatisingh45 would you guys would like to add something here?

[2019-01-06 21:00] parulagg27 commented on #27
@jainaman224, can you shed some light over here?

[2019-01-06 21:15] devcbot opened #30 "Finding an internship based on current skill set"
**A community member asks anonymously:**

"  I am a second year student, i have learned Django,Java,Python and have made standard projects using them. I want to know how can i get internship for the summer vacation 2019 .Where should I apply? Moreover i am currently learning machine learning, so want to know whether its beneficial or not?"

[2019-01-06 21:21] devcbot opened #31 "Career advice: continue freelancing vs preparing for interview and going for big4"
**A community member asks anonymously:**

"  Should working for the Big 4 be the ultimate goal of a developer?
I see my friends trying hard, working on their DS & Algo in order to crack their interviews. I also have the same opportunities but I am letting them go. Am I making a mistake?

I am making good money and name working as a freelancer and contractor for a few startups. I do not plan of hav

[2019-01-07 12:21] devcbot opened #32 "Tech stack to prefer to start with android and IOS development"
**A community member asks anonymously:**

" I have an idea which I feel can come out to be very helpful if made possible. To implement that idea, I have to make an app for android n iOS, and server. And the problem is, I m having no knowledge of Android, and have just done a bit of frontend in web.

A lot of frameworks have come to help to make apps and websites easier. Like using reactnative/flut

[2019-01-08 18:00] parulagg27 commented on #31
@shubhamoy can you help answer this one? :P

[2019-01-08 18:06] shubhamoy commented on #31
The grass is always greener on the other side. Now let's get to the point, just follow your heart. Do you love what you do? Do you've your peace of mind at the end of the day?

You can definitely try for an interview to get a first-hand experience. Later it'd be your call to whether to join or not. Life is full of trade-offs and you need to accept it.

[2019-01-11 18:56] jainaman224 commented on #27
Sure @parulagg27,
Let's start with my experience. I have started coding in my 2nd year of college (I didn't know any programming language before that). Then my seniors directed me towards competitive programming in 4th semester. I started practicing on CodeChef and CodeForces (I personally feel codechef long challenge is great way to start as you struggle with problems for 10 days) and with time m

[2019-01-21 08:52] parulagg27 commented on #31
Thanks! Closing this issue now.

[2019-01-21 08:52] #31 closed, assigned to nobody

[2019-01-21 08:54] parulagg27 commented on #27
Thanks! Good to close this issue now.

[2019-01-21 08:54] #27 closed, assigned to nobody

[2019-01-21 08:55] parulagg27 commented on #28
Thank you for the insights, @raghavpuri31
Closing this issue now.

[2019-01-21 08:55] #28 closed, assigned to nobody

[2019-02-17 06:06] #29 closed, assigned to nobody

[2019-05-03 09:20] gaurav-gogia opened #33 "Inclusion of projects in resume"
**A community member asks anonymously:**

"Is it okay to not to include projects in my intern resume . Although i have a good knowledge about Machine Learning and Deep learning but i don't have any good projects , simply because i want to work on a real life project. Help appreciated."

[2019-05-03 09:23] gaurav-gogia opened #34 "Getting started with web development"
**A community member asks anonymously:**

"I want to learn web development I know css and php and thinking of learning react so is there any pre requisite to learn react. Also I want to contribute on open source but don't know how to start ,any lead for this will be appreciated."

[2019-05-03 09:25] gaurav-gogia opened #35 "becoming community lead"
**A community member asks anonymously:**

"I want to persue my  career as a lead to the community  and help in motivating others . How can  I be a mentor and lead a community for others . "

[2019-05-03 23:10] saranshkataria commented on #33
I would exclude them only if you have something else that is worth showcasing. If that is not the case, including them tells the recruiter that you have done atleast something that you are mentioning. Execution is more effective than saying you have learned something

[2019-05-03 23:11] saranshkataria commented on #34
https://github.com/facebook-developer-circle-delhi/Community-Curated-Resources/blob/master/ReactJS.md
This should be helpful in getting started. Some basics of javascript and ES6 are always helpful in getting started and you can always refer to other concepts as you gain mastery.

[2019-05-03 23:12] saranshkataria commented on #32
I would prefer going the react native way since it helps you skip learning different skills for android and java. You could also choose flutter but personally, I would go for RN

[2019-05-03 23:17] saranshkataria commented on #35
So happy to see this post! A good first step would be to start building confidence. Not posting this as you, but asking this anonymously tells me that you are still afraid of going on a public platform. It is understandable that it takes some confidence to do that, but you have to start somewhere and this could be a good first step. Next up, I would start with smaller targets, helping a person out

[2019-05-13 14:10] parulagg27 commented on #33
Indeed! Closing this issue now.

[2019-05-13 14:10] #33 closed, assigned to nobody

[2019-05-13 14:17] parulagg27 commented on #34
Also, if you want to get started with your open source contributions as you mentioned in your last question, checkout the issue #7, that was posted earlier addressing the same.
Closing this issue now.

[2019-05-13 14:17] #34 closed, assigned to nobody

[2019-07-05 16:58] parulagg27 commented on #35
Good to close this issue now!

[2019-07-05 16:58] #35 closed, assigned to nobody

[2019-07-05 16:59] parulagg27 commented on #32
Good to close this issue now.

[2019-07-05 16:59] #32 closed, assigned to nobody